@import '@angular/material/theming';

// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Dark theme
$dark-primary: mat-palette($mat-deep-purple);
$dark-accent: mat-palette($mat-orange);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Define theme classes
.light-theme {
  @include angular-material-theme($light-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
}