.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--breadcrumb-color);
  padding: 20px 10px 20px 10px;

  .breadcrumb-item {
    cursor: pointer;

    &.active {
      font-weight: bold;
      color: var(--breadcrumb-active-color);
      cursor: default;
    }
  }

  .breadcrumb-separator {
    font-size: 24px;
  }
}